* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link {
    border-left: 1px solid orange;
    border-bottom: 1px solid orange;
}

.nav-link:hover {
    border-right: 1px solid orange;
    border-top: 1px solid orange;
    border-left: 0;
    border-bottom: 0;
}

.carousel-item img {
    width: 100%;
    height: 700px;
}

button {
    text-transform: uppercase;
}

.card-body {
    
}

.microverse {
    background-color: lightgray;
}

.microverse p img {
    width: 150px;
    height: 30px;
}

.microverse {
    justify-content: space-between;
}

.microverse p {
    margin: 0 5%;
}
